@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #171717;
  }
}

.header {
  color: rgb(34, 23, 7); /* Set the text color to black */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Letter-Set-A';  /* Name of your custom font */
  src: url('/fonts/Letter Set A.otf') format('opentype'),
       url('/fonts/Letter Set B.otf') format('opentype'),
       url('/fonts/Letter Set B.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Letter-Set-B';  /* Name of your custom font */
  src: url('/fonts/Letter Set B.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Letter-Set-C';  /* Name of your custom font */
  src: url('/fonts/Letter Set C.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'tajamuka';  /* Name of your custom font */
  src: url('/fonts/Tajamuka Script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'blzee';  /* Name of your custom font */
  src: url('/fonts/blzee.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'berryrotunda';  /* Name of your custom font */
  src: url('/fonts/Berry Rotunda.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.custom_cursor {
  cursor: url('/assets/target-scope.svg') 12 12, auto;
}


.basic_button {
  color: white;
  background-color: black;
  display: block;
  padding: 10px;
  margin: 1.5rem auto;
  border-radius: 10px;
  font-family: "tajamuka";
  justify-content: center;
  font-size: 1.5rem;
}

.basic_button:hover {
  color: white;
  background-color: rgb(201, 47, 0);
  transition: 0.3s;
}