.photopage_repeat_circ {
    background-image: url('/tracks/circadia-pg-002.png'); /* Replace with your image path */
    background-repeat: repeat;
    background-size: auto;
    cursor: url('/tracks/break.png') 12 12, auto;

    text-align: center;
    font-size: 2rem;
    line-height: 2;
}