.photopage_repeat_ia {
    background-image: url('/tracks/in-amber-pg_001.png'); /* Replace with your image path */
    background-repeat: repeat;
    background-size: auto;
    cursor: url('/tracks/break.png') 12 12, auto;

    text-align: center;
    font-size: 2rem;
    line-height: 2;
}

.photopage_stretch_ia {
    background-image: url('/tracks/in-amber-pg_001.png'); /* Replace with your image path */
    background-repeat: no-repeat;
    background-size: cover; /* Stretches the image to cover the element */
    background-position: center;
    cursor: url('/tracks/intro_content_001.png') 12 12, auto;

    text-align: center;
    font-size: 2rem;
    line-height: 2;
}