.track {
    background-color: rgb(255, 207, 15);
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Letter-Set-B;
    font-size: 28;
    color: rgb(34, 23, 7);
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-content: center;
}