.track_background {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Letter-Set-B !important;
    font-size: 28;
    color: rgb(34, 23, 7);
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center; /* Add align-items to vertically center the text */
    text-align: center; /* Ensure text is centered horizontally */
    align-content: center;
    transition: color 0.3s ease, background-color 0.8s ease; /* Add a smooth transition */
    cursor: url('/assets/ladybug.cur') 12 12, auto;
}

@media (max-width: 768px) {
    .track_background {
      font-size: 24px; /* Adjust font size for mobile */
    }
  }


/* Larger screens */
@media (min-width: 1024px) {
    .track_background {
      font-size: 32px; /* Larger size for desktop */
    }
  }

.track_background:hover {
    color: rgb(255, 255, 255); /* Change text color to white (or your desired hover color) */
    background-color: rgb(30, 84, 89); /* Set a background color for the hover state */
    cursor: url('/assets/ladybug.cur') 12 12, auto;
}


@keyframes pulse {
    0% {
        transform: scale(1) rotate(0deg); /* Initial size and rotation */
    }
    50% {
        transform: scale(1.5) rotate(2deg); /* Slightly enlarged and rotated */
    }
    100% {
        transform: scale(1) rotate(0deg); /* Return to original size and rotation */
    }
}

@keyframes pulse_right {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.5) rotate(2deg); /* Rotate right */
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes pulse_left {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.5) rotate(-2deg); /* Rotate left */
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

/* Apply pulse effect on image hover */
.track_image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease; /* Smooth transition for transformation */
    cursor: url('/assets/ladybug.cur') 12 12, auto;
}

/* When hovered, the corresponding rotation animation is applied */
.track_image:hover {
    animation: pulse 5s ease-in-out 1; /* Run the animation once */
    animation-fill-mode: forwards; /* Keep the effect at the end of the animation */
    cursor: url('/assets/ladybug.cur') 12 12, auto;
}

.track_image.clockwise:hover {
    animation: pulse_right 5s ease-in-out 1; /* Rotate clockwise */
}

.track_image.counterclockwise:hover {
    animation: pulse_left 5s ease-in-out 1; /* Rotate counterclockwise */
}
